<style>
    h1{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-top: 15vw;
    }
</style>
<h1 >Thank You for Shopping With us !</h1>
<script>
    window.addEventListener('load', (e) => {
        setTimeout(() => {
            window.location.href = '/dashboard';
        }, 3000);
    })
</script>