<div class="market-div">
    <div class="navbar" style="margin-top: -2.5vw;">
        <ul>
            <li>
                <a href="/dashboard"><img src="/assets/image/home.svg"></a>
            </li>
            <li>
                <a href="/market"><img src="/assets/image/market.svg"></a>
            </li>
            <li>
                <a href="/profile"><img src="/assets/image/doc.svg"></a>
            </li>
        </ul>
    </div>
    <h1>Give your Specifications</h1>
    <div class="pref-desc">
        1. House <br>
        Base Price: 30 Credits <br>
        <br>
        <br>
        <form action="buyForm">
            <input name="modelType" id="modelType" hidden>
            <input name="modelName" id="modelName" type="text" required placeholder="Model Name"> <br><br>
            <button id="buyBtn">Buy Base Model Template</button>
        </form>
    </div>
    
</div>



<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/market.js"></script>