<h1>Market Place</h1>

<h2>Available Models</h2>

<p>
    1. House <br>
    <!-- MODEL PREVIEW HERE WITH IMAGE -->
    <!-- DESIGN SIMILAR TO AMAZON/FLIPKART ETC -->
    Base Price: 30 Credits <br>
    <form action="buyForm">
        <input name="modelType" id="modelType" hidden>
        <input name="modelName" id="modelName" type="text" required placeholder="Model Name"> <br><br>
        <button id="buyBtn">Buy Base Model Template</button>
        </forma>
</p>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/market.js"></script>