<div class="dashboard-div">
    <div class="dash-head">
        <h1>Welcome back, <%= user.username %></h1>
        <div class="navbar">
            <ul>
                <li>
                    <a href="/dashboard"><img src="/assets/image/home.svg"></a>
                </li>
                <li>
                    <a href="/market"><img src="/assets/image/market.svg"></a>
                </li>
                <li>
                    <a href="/profile"><img src="/assets/image/doc.svg"></a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        //32,65
    </script>
    <div class="dash-content">
        <div class="project-div">
            <div class="header">
                <h3>Continue where you left</h3>
                <img src="/assets/image/arrow2.svg">
            </div>
            <div class="projects">
                <% if (templates.length == 0) { %>
                <h2>
                    No houses built yet :(
                </h2>
                <%} else{ %>
                    <% for( let i = 0; i < 2; i++ ) { %>
                        <div class="project">
                            <h2>
                                Project <span style="color: rgba(255, 255, 255, 0.568);"><%= templates[i].name %></span>
                            </h2>
                            <button>
                                Continue
                            </button>
                            <img src="">
                            <div class="project-blob"></div>
                        </div>
                    <% } %>
                    <a class="check" href="/dashboard/model">
                        Checkout your models
                    </a>                    
                <% } %>
            </div>
        </div>
        <div class="profile-div">
            <div class="header">
                <h3>Profile</h3>
                <img  style="margin-left: 10vw;" src="/assets/image/arrow2.svg">
                <div class="circle"></div>
                <div class="prof">
                    <p class="name">
                        <%= user.name %>
                    </p>
                    <p class="cred">
                        <%= user.credits %> <span>credits</span>
                    </p>
                </div>

                

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/dashboard.js"></script>