<div class="dashboard-div">
    <div class="dash-head">
        <h1>Welcome back, <%= user.name %></h1>
        <div class="navbar">
            <ul>
                <li>
                    <a href="#"><img src="/assets/image/home.svg"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/image/market.svg"></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/image/doc.svg"></a>
                </li>
            </ul>
        </div>
    </div>
   
    <div class="project-div"></div>
    <div class="profile-div"></div>
    <h2>Existing Models</h2>
    <% for( let i = 0; i < templates.length; i++ ) { %>

    <div style="border: 2px black solid;">
        <%= templates[i].name %>
        <%= templates[i].description %>
    </div> <br>
    <% } %>

    
    <h2><a href='/market'>Market Place</a></h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/dashboard.js"></script>