<div class="dashboard-div">
    <h1>Dashboard</h1>

    <h2>Existing Models</h2>
    <% for( let i = 0; i < templates.length; i++ ) { %>

    <div style="border: 2px black solid;">
        <%= templates[i].name %>
        <%= templates[i].description %>
    </div> <br>
    <% } %>

    
    <h2><a href='/market'>Market Place</a></h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/dashboard.js"></script>