<h1>Q1: Which do you like more ?</h1>

<!-- form with 2 radio buttons -->
<form id="q1">
    <input type="radio" name="q1" value="a"> A: <input type="text" name="a" id="a"> <br>
    <input type="radio" name="q1" value="b"> B: <input type="text" name="b" id="b"> <br>
</form>