<div class="landing-header">
    <div class="landing-navbar">
        <div class="logo-desc">
            <img src="/assets/image/logo.svg">
            <h2>Byld</h2>
        </div>
        <ul class="links">
            <li>
                <a href="/">Shop</a>
            </li>
            <li>
                <a href="/login">Log in</a>
            </li>
            <li>
                <a href="/register">Sign up</a>
            </li>
        </ul>
    </div>
    <div class="landing-div">
        <h1>
            You <span id="span1"><b>Think</b></span>, We <span id="span2"><b>Byld</b></span>.
        </h1>
        <div class="stats">
            <div class="stat">
                <h2>10K+</h2>
                <p>
                    Users
                </p>
            </div>
            <div class="line-stat"></div>
            <div class="stat">
                <h2>
                    50K+
                </h2>
                <p>
                    Templates rendered
                </p>
            </div>
            <div class="line-stat" style="margin-left: 27.5vw;"></div>
            <div class="stat">
                <h2>80K+</h2>
                <p>
                    Templates in process
                </p>
            </div>
        </div>
        <img src="/assets/image/house.svg" alt="">
    </div>
</div>
<!-- <div class="marketplace-div">
    <h1>Explore our marketspace!</h1>
    <img src="/assets/image/logo-blur.svg" alt="">
</div> -->