<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<div class="login-div">
    <h1>Login</h1>
    <form id="logForm" autocomplete="OFF">
        Email <br>
        <input name="email" id="email" type="email" required> <br><br>
        Password <br>
        <input name="password" id="password" type="password" required> <br><br>
        <button type="submit" id="logBtn">Submit</button>
    </form>
    <img src="https://media.discordapp.net/attachments/997804903734972536/1003351442792398939/unknown.png?width=618&height=513" alt="">
</div>




<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/login.js"></script>