<div class="register-div">
    <h1>Register</h1>
    <form id="regForm">
        <input name="name" id="name" type="text" placeholder="Name" class="form-control" required> <br><br>
        <input name="email" id="email" type="email" placeholder="Email" class="form-control" required> <br><br>
        <input name="username" id="username" type="text" placeholder="Username" class="form-control" required> <br><br>
        <input name="password" id="password" type="password" placeholder="Password" class="form-control" required> <br><br>
        <input name="password2" id="password2" type="password" placeholder="Confirm Password" class="form-control" required> <br><br>
        <button type="submit" class="btn btn-primary" id="regBtn">Submit</button>
    
    </form>
    <img style="margin-top: -25vw;" src="https://media.discordapp.net/attachments/997804903734972536/1003351442792398939/unknown.png?width=618&height=513" alt="">
</div>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/register.js"></script>