<h1>Register</h1>


<form id="regForm">
    <input name="name" id="name" type="text" placeholder="Name" class="form-control" required>
    <input name="email" id="email" type="email" placeholder="Email" class="form-control" required>
    <input name="username" id="username" type="text" placeholder="Username" class="form-control" required>
    <input name="password" id="password" type="password" placeholder="Password" class="form-control" required>
    <input name="password2" id="password2" type="password" placeholder="Confirm Password" class="form-control" required>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<script src="js/register.js"></script>