:root{
    --color-1: #181A2D;
    --color-2: #3A404F;
    --color-3: #430FCA;
    --color-4: #E8D5FF;
    --color-5: #FFFFFF;
}
@font-face{
    font-family: 'Regular';
    src: url('../assets/fonts/THICCCBOI-Regular.ttf');
}
@font-face{
    font-family: 'Bold';
    src: url('../assets/fonts/THICCCBOI-Bold.ttf');
}
@font-face {
    font-family: 'Medium';
    src: url('../assets/fonts/THICCCBOI-Medium.ttf');
}
@font-face {
    font-family: 'Light';
    src: url('../assets/fonts/THICCCBOI-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Regular', sans-serif;
    width: 100%;
    color: var(--color-5);
    background: #181A2D;
}
.dashboard-div,.market-div,.pref-1,.pref-2,.pref-3{
    background: var(--color-1);
    height : 100vh;
    color: var(--color-5);
}
.market-div h1{
    margin: 7.5vw 6.5vw;
    color: #8684FF;
    font-size: 2.5vw;
}
.market-div input{
    background: #1B1D33;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 25vw;
    color: var(--color-5);
    font-family: 'Regular', sans-serif;
}
.market-div button{
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: linear-gradient(150.9deg, #4E11EC 0%, #FFFFFF 195.33%);;
    font-size: 1.2vw;
    letter-spacing: 1px;
    color: var(--color-5);
    font-family: 'Regular', sans-serif;
}
.market-div input::placeholder{
    color: rgba(232, 213, 255, 0.4);
}
.market-div input:focus{
    outline: none;
}
h1{
    font-family: 'Bold', sans-serif;
}
h3,h2{
    font-family: 'Medium', sans-serif;
}
.pref-1 h1,.pref-2 h1, .pref-3 h1{
    margin-left: 6.5vw;
    color: var(--color-4);
    padding-top: 7.5vw;
    font-size: 2.7vw;
}
.pref-1-main,.pref-2-main{
    display:flex;
    width: 90%;
    margin: 2.5vw auto;
}
.pref-3-main{
    display:flex;
    width: 90%;
    padding-top: 2.5vw;
    margin-left: auto;
}
.status{
    width: 20vw;
}
.question{
    margin-left: 5vw;
}

.pref-1-main .question form textarea{
    height: 7.5vw;
    width: 30vw;
    background: #1B1D33;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: var(--color-5);
    font-family: 'Regular', sans-serif;
}
.pref-1-main .question form textarea::placeholder{
    color:rgba(255,255,255,0.19);
}
.pref-1-main .question form textarea:focus{
    outline: none;
}
.pref-1-main .question form{
    margin-top: 5vw;
}
.pref-1-main .question h2,.pref-2-main .question h2{
    letter-spacing: 1.25px;
}
.illus{
    background: url('/assets/image/house-illus.svg');
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 35vw;
    margin-left: 2.5vw;
}
.status-line{
    height: 30vw;
    width: 0.5vw;
    border-radius: 5px;
    background: linear-gradient(180deg, #4E11EC 0%, rgba(232, 213, 255, 0.4) 100%);
    margin-top: 2vw;
    margin-left: 1.5vw;
}
.status-circle-1,
.status-circle-2,
.status-circle-3{
    position: absolute;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    left: 6.275vw;
}
.status-circle-1{
    top: 16vw;
    background-color: #4E11EC;
}
.status-circle-2{
    top: 31vw;
    background-color: #5d3c85;
}
.status-circle-3{
    background: #726989;
    top: 46vw
}
.status-col{
    position: absolute;
    top: 16vw;
    left: 10vw;
    color: #696C89;;
    height: 30vw;
}
.status-col p{
    padding-top: 0.5vw;
}
.status-col h3{
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
}
.status-col .desc h3{
    font-family: 'Bold', sans-serif;
}
.status-col .prefer{
    top: 14vw;
    position: absolute;
    width: 25vw;
}
#l{
    color: rgba(255, 255, 255, 0.5);
}
.pref-1 .status-col .desc h3,
.pref-2 .status-col .prefer h3,
#h{
    color: #E8D5FF;
}
.status-col .budget{
    top: 29vw;
    position: absolute;
    width: 25vw;
}
#q1Btn, #q2Btn,
#q3Btn{
    position: absolute;
    background: transparent;
    color: #4E11EC;
    border: none;
    outline: none;
    left: 85%;
    top: 55vw;
    font-size: 1.75vw;
}
#q3Form{
    margin-top: 10vw;
}
.range-slider{
    -webkit-appearance: none;
    height: 7.5px;
    width: 50vw;
    outline: none;
    cursor: pointer;
    border-radius: 10px;background: linear-gradient(90deg, #4700FF -19.33%, #7648EC 12.65%, #A895D8 141.76%);
  }
.range-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.6);
}
.min-max{
    display: flex;
    width: 50vw;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.5vw;
    letter-spacing: 1px;
}
.max{
    margin-left: 92.5%;
}
.creds-display{
    display: flex;
    margin-top: 15vw;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5vw;
}
.line{
    background: linear-gradient(90deg, #4E11EC -2.29%, rgba(232, 213, 255, 0.4) 154.58%);
    border-radius: 11px;
    transform: rotate(90deg);
    width: 2.5vw;
    margin-top: 0.5vw;
    height: 5px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.selection{
    display: flex;
    width: 65vw;
    height: 25vw;
    margin-top: 5vw;
}
.house{
    background: #1B1D33;
    width: 25vw;
    height: 25vw;
    margin-left: 2.5vw;
    border-radius: 10px;
}
.house img{
    transform: scale(0.5);
    margin: -5vw -6vw;
}
.selection input[type=radio]{
    position: absolute;
    height: 25vw;
    width: 25vw;
    z-index: 5;
    opacity: 0; 
}
.selection input[type=radio] + .house {
    cursor: pointer;
  }
  
.selection input[type=radio]:checked + .house{
    background: linear-gradient(136.87deg, #4E11EC 0%, #FFFFFF 170.9%);
}
.dashboard-div h1{
    font-size: 3vw;
    letter-spacing: 1px;
    color: #8684FF;
    padding: 6.5vw 5vw;
}
.navbar{
    padding: 10px;
    border: 2px solid #2A2D48;
    border-radius: 10px;
    width: 16.5vw;
    height: 6.5vw;
    position: absolute;
    margin: 5vw 75vw;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar ul li {
   padding: 15px;
}
.dash-head{
    display: flex;
}
.project-div{
    width: 57vw;
    height: 32.5vw;
    background: #22243D;
    border-radius: 10px;
    margin-left: 5vw;
}
.dash-content{
    display:flex;
}
.profile-div{
    height: 32.5vw;
    width: 25vw;
    background-color: #22243D;
    border-radius: 10px;
    margin-left: 5vw;
}
.header{
    width: 100%;
    height: 7.5vw;
    background: #2A2D48;
    border-radius: 10px;
}
.projects{
    width: 100%;
    height: 25vw;
}
.header h3{
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.45vw;
    letter-spacing: 1.5px;
    padding: 3vw 3vw;
}
.header img{
    position: absolute;
    margin-top: -4.25vw;
    margin-left: 22.5vw;
}
.projects h2{
    color: rgba(232, 213, 255, 0.4);
    margin: 2.5vw 3.5vw;
}
.projects{
    display: flex;
    margin-left: 2vw;
}
.project{
    margin-right: 2.5vw;
    width: 25vw;
}
.projects .project h2{
    color: #8684FF;
    letter-spacing: 1px;
    margin-left: 0vw;
}
.projects .project button{
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #8684FF;
    font-size: 1.2vw;
    color: #8684FF;
    letter-spacing: 1.2px;
    position: absolute;
    font-family: 'Bold', sans-serif;
    margin: -5vw 15vw;
}
.project-blob{
    width: 22.5vw;
    height: 10vw;
    background:  linear-gradient(136.87deg, #4E11EC 0%, #FFFFFF 170.9%);
    border-radius: 10px;
    margin-top: 7.5vw;
}
.project img{
    transform: scale(0.25);
    position: absolute;
    margin-left: -27.5vw;
    margin-top: -30vw;
}
.profile-div .circle{
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 100%;
    background: linear-gradient(136.87deg, #4E11EC 0%, #FFFFFF 170.9%);
    margin: 2.5vw auto;
}
.profile-div .name{
    font-size: 2.5vw;
    letter-spacing: 1px;
    text-align: center;
}
.profile-div .cred{
    color: #8684FF;
    text-align: center;
    font-size: 1.25vw;
}
.landing-header{
    background: url('/assets/image/background.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.landing-navbar,.logo-desc{
    display: flex;
}
.landing-navbar{
    padding: 3.5vw;
}
.logo-desc h2{
    font-size: 2.5vw;
    margin-top: 1vw;
    margin-left: 2.5vw;
}
.landing-navbar ul {
    list-style: none;
    display: flex;
    width: 25vw;
    position: absolute;
    margin: 2vw 70vw;
}
.landing-navbar ul li{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    font-weight: 500;
}
.landing-navbar ul li a{
    color: #eee;
    text-decoration: none;
    font-size: 1.5vw;
}

.landing-div h1{
    font-size: 3.5vw;
    margin-top : 1.25vw;
    text-align: center;
}
#span1{
    background: linear-gradient(93.78deg, #FFFFFF 25.24%, rgba(255, 255, 255, 0) 99.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#span2{
    background: linear-gradient(136.87deg, #4E11EC 0%, #FFFFFF 170.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stats{
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 1.5vw auto;
}
.stat{
    text-align: center;
}
.stats .stat h2{
    font-size: 2.5vw;
    margin-top: 1vw;
    letter-spacing: 1px;
}
.stat p {
    margin-top: 1vw;
}
.line-stat{
    position: absolute;
    width: 60px;
    height: 3px;
    margin: 3vw 8.5vw;
    background: linear-gradient(90deg, #4E11EC -2.29%, rgba(232, 213, 255, 0.4) 154.58%);
    border-radius: 11px;
    transform: rotate(90deg);
}
.landing-header img{
    transform: scale(0.75);
    display: block;
    margin: -2.5vw auto;
}
.marketplace-div h1{
    color: #E8D5FF;
    font-size: 2.5vw;
    margin-left: 6.5vw;
    margin-top: 5vw;
}
.marketplace-div img{
    position: absolute;
    margin: 2.5vw 72.5%;
}
.pref-desc{
    margin-left: 6.5vw;
    margin-top: -2.5vw;
}