<h1>Q1: Which do you like more ?</h1>

<!-- form with 2 radio buttons -->
<form id="q1">
    <input name="prompt" id="prompt" type="text" required placeholder="What do you want to make?"> <br><br>
    <button id="q1Btn">Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>