<div class="pref-1">
    <h1>Give your Specifications</h1> <br>
    <div class="pref-1-main">
        <div class="status">
            <div class="status-circle-1"></div>
            <div class="status-circle-2"></div>
            <div class="status-circle-3"></div>
            <div class="status-line"></div>
            <div class="status-col">
                <div class="desc">
                    <h3>
                        Description
                    </h3>
                    <p>
                        let us get to know<br>
                        you more!
                    </p>
                </div>
                <div class="prefer">
                    <h3>
                        Preference
                    </h3>
                    <p>
                        We'd like to hear about<br> your preference in houses
                    </p>
                </div>
                <div class="budget">
                    <h3>
                        Budget
                    </h3>
                    <p>
                        Would you like to work <br> within a certain budget?
                    </p>
                </div>
            </div>
        </div>
        <div class="question">
            <h2>Describe the type of house<br> you're looking for :</h2>
            <form id="q1">
                <textarea name="prompt" id="prompt" type="text" required placeholder="It would be nice to live in a house that is modern, spacious, and with a garden!"></textarea> 
                <button id="q1Btn">Next
                    <img src="/assets/image/arrow.svg">
                </button>
            </form>
        </div>
        <div class="illus"></div>
    </digitv>
    <!-- form with 2 radio buttons -->
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>