<div class="pref-1">
    <h1>Give your Specifications</h1> <br>
    <div class="pref-1-main">
        <div class="status"></div>
        <div class="question">
            <h2>Describe the type of house<br> you're looking for :</h2>
            <form id="q1">
                <textarea name="prompt" id="prompt" type="text" required placeholder="What do you want to make?"></textarea> 
                <button id="q1Btn">Submit</button>
            </form>
        </div>
        <div class="illus"></div>
    </div>
    <a href="">Next</a>
    <!-- form with 2 radio buttons -->
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>