<div class="pref-2">
    <h1>Give your Specifications</h1> <br>
    <div class="pref-2-main">
        <div class="status">
            <div class="status-circle-1"></div>
            <div class="status-circle-2"></div>
            <div class="status-circle-3"></div>
            <div class="status-line"></div>
            <div class="status-col">
                <div class="desc">
                    <h3>
                        Description
                    </h3>
                    <p>
                        let us get to know<br>
                        you more!
                    </p>
                </div>
                <div class="prefer">
                    <h3>
                        Preference
                    </h3>
                    <p>
                        We'd like to hear about<br> your preference in houses
                    </p>
                </div>
                <div class="budget">
                    <h3>
                        Budget
                    </h3>
                    <p>
                        Would you like to work <br> within a certain budget?
                    </p>
                </div>
            </div>
        </div>
        <div class="question">
            <h2>
                Select the type of house you prefer :
            </h2>
            <form id="q2Form">
                <div class="selection">
                    <label for="">
                        <input type="radio" name="prompt" id="prompt" value="small" checked>
                        <div class="house">
                            <img src="https://media.discordapp.net/attachments/997804903734972536/1003164161695567913/unknown.png?width=513&height=513" alt="">
                        </div>
                    </label>
                    <label for="">
                        <input type="radio" name="prompt" id="prompt" value="large">
                        <div class="house">
                            <img src="https://media.discordapp.net/attachments/997804903734972536/1003164182763548692/unknown.png?width=513&height=513" alt="">
                        </div>
                    </label>
                    
                </div>
                <button id="q2Btn">
                    Next
                    <img src="/assets/image/arrow.svg">
                </button>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>