<h2>Question 2</h2>
<h3>Which do you like more?</h3>

<form id="q2Form">
    <input name="prompt" id="prompt" type="text" required placeholder="Size of House"> <br><br>
    <button id="q2Btn">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>