<h2>Q3: Budget</h2>

<form id="q3Form">
    <input name="prompt" id="prompt" type="text" required placeholder="How much is your budget"> <br><br>
    <button id="q3Btn">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/js/1.js"></script>